*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202124;
    margin: 0;
    /* display: flex; */
}

header{
    background-color: firebrick;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 97vh;
}
.contenedor{
    height: 20em; width: 100%;
    background-color: lightgreen;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}
.contenedor :nth-child(n){
    display: inline-block;
    /* background-color: #333; */
}

.logo{
    font-size: 5em;
    text-align: center;
    height: 1em;
    background-color: lightcoral;  
    margin: 1rem;  
}
.navbar{
    width: 100%;
    background-color: red;
}
.formulario{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 10rem;
    width: 100%;
    background-color: rebeccapurple;
}
.buscador{
    height: 1em;
    background-color: salmon;
    display: inline-block;
    grid-column: 1/2;
}
.buttons{
    height: 5em; width: 5em;
}



.gridtest{
    background-color: red;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.gridtest div{
    display: inline-block;
    /* width: 2rem; height: 2rem; */
}

.item1{
    background-color: lightyellow;
    grid-column: 1/2;
}

.item2{
    background-color: lightblue;
    grid-column: 2/8;
}
.item3{
    background-color: lightcoral;
    grid-column: 8/9;
}