*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202124;
    margin: 0;
    /* display: flex; */
}

header{
    background-color: firebrick;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 97vh;
}
.contenedor{
    height: 20em; width: 100%;
    background-color: lightgreen;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}
.contenedor :nth-child(n){
    display: inline-block;
    /* background-color: #333; */
}

.logo{
    font-size: 5em;
    text-align: center;
    height: 1em;
    background-color: lightcoral;  
    margin: 1rem;  
}
.navbar{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.formulario{
    left: 10%;
    display: inline-block;
    height: 2rem;
    width: 80%;
    position: relative;
    background-color: rebeccapurple;
}
.buscador{
    position: relative;
    /* left: 2em; */
    height: 100%; width: 100%;
}
.buttons{
    height: 5em; width: 5em;
}