*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202124;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    height: 100vh;
}

header{
    background-color: firebrick;
    grid-row: 1/2;
}
main{
    grid-row: 3/11;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedor{
    height: 20em; width: 100%;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12,1fr);
}
.logo{
    font-size: 5em;
    text-align: center;
    grid-column: 1/7;
    grid-row: 1/6;
    /* height: 1em; */
    background-color: lightcoral;  
    margin: 1rem;  
}
.barra{
    /* height: 2rem; */
    grid-column: 2/6;
    grid-row: 6/7;
}
.buscador{
    position: relative;
    height: 100%; width: 100%;
}
.buttons{
    grid-column: 3/5;
    grid-row: 8/9;
    background-color: lightseagreen;
}

footer{
    padding: 4px;
    font-size: 14px;
    grid-row: 12/13;
    background-color: lightblue;
}

footer h1{
    font-size: 14px;
    background-color: rgb(128, 159, 170);
}
footer nav{
    background: rgb(128, 159, 170);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer nav p{
    background-color: rgb(95, 118, 126);
    margin: 0.25rem;
}
footer nav p a{
        background-color: rgb(77, 97, 103);
}

@media (max-width:652.16px) {
    footer nav {
        justify-content: center;
    }
}